.picker {
  display: grid;
  grid-template-rows: 25% 75%;
  justify-items: center;
  align-items: end;
  height: 100%;
  position: relative;
}

.picker::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(/backgrounds/background-3.jpg);
  background-size: cover;
  background-position: center center;
  opacity: 0.15;
}

.picker .songlist {
  align-self: start;
}

.picker .songlist ul {
  padding: 2rem;
  max-height: 75%;
  overflow: auto;
}
